///////////////////////////////////////////////////////
// Default gotham variables - overriding ark
///////////////////////////////////////////////////////

/////////////////////////////////////////
// responsive
/////////////////////////////////////////

// breakpoints
$bp-names: lap desk;
$bp-sizes: 768px 1024px;

/////////////////////////////////////////
// layout
/////////////////////////////////////////

// global site layout
$site-width: 1180px;
$global-box-sizing: true;

// push & pull
$use-push: true;
$use-pull: true;

// sticky footer
$use-sticky-footer: false;
$footer-height: 200px;


/////////////////////////////////////////
// ark objects
/////////////////////////////////////////

$use-media: false;
$use-flag: false;
$use-flex: true;
$use-mast: false;

// ui colors
$brand-primary: #017094;
$brand-secondary: #028e45;